.picker {
    // position: absolute;
    bottom: 0;
    width: 100px;

    .options {
        display: flex;
        width: 100vw;
        // grid-template-columns: 1fr 1fr 1fr;
        // width: 100vw;
        // height: 100vh;
        justify-content: space-around;
        // justify-items: center;
        // align-content: flex-start;
        // flex-wrap: wrap;
        // align-items: center;
        // flex-basis: 200px;
        // flex-shrink: 0;
        // flex-grow: 0;

        .image {
            border: 1px solid white;

            transform: rotate(-90deg);
            -webkit-filter: drop-shadow(20px 20px 4px rgba(0, 0, 0, 0.25));
            filter: drop-shadow(20px 20px 4px rgba(0, 0, 0, 0.25));
            // width: 10px;

            &:hover {
                transform: translateY(-20%) rotate(-90deg);
            }
        }
    }
}
