.picker {
    position: absolute;
    bottom: 0;
    width: 100%;

    .options {
        display: flex;
        justify-content: space-around;

        .image {
            overflow: hidden;
            width: clamp(300px, 50vw, 2500px);
            transform: rotate(-90deg);
            transition: all 0.3s;
            filter: drop-shadow(-20px 20px 4px rgba(0, 0, 0, 0.25));

            &:hover {
                transform: translateY(-30%) rotate(-90deg);
                filter: drop-shadow(-60px 30px 4px rgba(0, 0, 0, 0.25));
                cursor: pointer;
            }
        }
    }
}
